{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row" padding-bottom: 500px;> 
    <div class="col-md-12"> 
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <form method="PUT" name="updateform" action="/complete/{{item.id}}">
            <li>
                {{item.id}} - {{item.status}} - {{item.title}} 
                <input type="submit" method="PUT"  action="/complete/{{item.id}}" name="Mark Complete" value="Mark Complete">
            </li>
          </form>
        {% endfor %}
      </ul>
      <h2>Add Item</h2>
        <form method="POST" name="form">
            <input type="text" name='text' id='text'>
            <input type="submit" name="New Item" value="Add">
        </form>
    </div>
  </div>
{% endblock %}